<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="eg.Onkyo.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <applicationSettings>
    <eg.Onkyo.API.Properties.Settings>
      <setting name="IPAddress" serializeAs="String">
        <value>192.168.0.16</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>60128</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="Poweroff" serializeAs="String">
        <value>PWR00</value>
      </setting>
      <setting name="Poweron" serializeAs="String">
        <value>PWR01</value>
      </setting>
      <setting name="Stereo" serializeAs="String">
        <value>LMD00</value>
      </setting>
      <setting name="Direct" serializeAs="String">
        <value>LMD01</value>
      </setting>
      <setting name="Surround" serializeAs="String">
        <value>LMD02</value>
      </setting>
      <setting name="Film" serializeAs="String">
        <value>LMD03</value>
      </setting>
      <setting name="THX" serializeAs="String">
        <value>LMD04</value>
      </setting>
      <setting name="Action" serializeAs="String">
        <value>LMD05</value>
      </setting>
      <setting name="Musical" serializeAs="String">
        <value>LMD06</value>
      </setting>
      <setting name="Orchestra" serializeAs="String">
        <value>LMD08</value>
      </setting>
      <setting name="Unplugged" serializeAs="String">
        <value>LMD09</value>
      </setting>
      <setting name="Mono" serializeAs="String">
        <value>LMD0F</value>
      </setting>
      <setting name="Multiplex" serializeAs="String">
        <value>LMD12</value>
      </setting>
      <setting name="MusicMode" serializeAs="String">
        <value>LMD51</value>
      </setting>
      <setting name="Video6Input" serializeAs="String">
        <value>SLI05</value>
      </setting>
      <setting name="Video7Input" serializeAs="String">
        <value>SLI06</value>
      </setting>
      <setting name="DVDInput" serializeAs="String">
        <value>SLI10</value>
      </setting>
      <setting name="Tape2Input" serializeAs="String">
        <value>SLI21</value>
      </setting>
      <setting name="PhonoInput" serializeAs="String">
        <value>SLI22</value>
      </setting>
      <setting name="FMInput" serializeAs="String">
        <value>SLI24</value>
      </setting>
      <setting name="AMInput" serializeAs="String">
        <value>SLI25</value>
      </setting>
      <setting name="TunerInput" serializeAs="String">
        <value>SLI26</value>
      </setting>
      <setting name="USBInput" serializeAs="String">
        <value>SLI29</value>
      </setting>
      <setting name="AudioMutingOff" serializeAs="String">
        <value>AMT00</value>
      </setting>
      <setting name="AudioMutingOn" serializeAs="String">
        <value>AMT01</value>
      </setting>
      <setting name="SpeakerAOff" serializeAs="String">
        <value>SPA00</value>
      </setting>
      <setting name="SpeakerAOn" serializeAs="String">
        <value>SPA01</value>
      </setting>
      <setting name="SpeakerBOff" serializeAs="String">
        <value>SPB00</value>
      </setting>
      <setting name="SpeakerBOn" serializeAs="String">
        <value>SPB01</value>
      </setting>
      <setting name="MonoMovie" serializeAs="String">
        <value>LMD07</value>
      </setting>
      <setting name="StudioMix" serializeAs="String">
        <value>LMD0A</value>
      </setting>
      <setting name="TVLogic" serializeAs="String">
        <value>LMD0B</value>
      </setting>
      <setting name="AllCHStereo" serializeAs="String">
        <value>LMD0C</value>
      </setting>
      <setting name="TheaterDimensional" serializeAs="String">
        <value>LMD0D</value>
      </setting>
      <setting name="Enhanced7Enhance" serializeAs="String">
        <value>LMD0E</value>
      </setting>
      <setting name="PureAudio" serializeAs="String">
        <value>LMD11</value>
      </setting>
      <setting name="FullMono" serializeAs="String">
        <value>LMD13</value>
      </setting>
      <setting name="DolbyVirtual" serializeAs="String">
        <value>LMD14</value>
      </setting>
      <setting name="StraightDecode1" serializeAs="String">
        <value>LMD40</value>
      </setting>
      <setting name="DolbyEXDTSES" serializeAs="String">
        <value>LMD41</value>
      </setting>
      <setting name="DolbyEX2" serializeAs="String">
        <value>LMD41</value>
      </setting>
      <setting name="THXCinema" serializeAs="String">
        <value>LMD42</value>
      </setting>
      <setting name="THXSurroundEX" serializeAs="String">
        <value>LMD43</value>
      </setting>
      <setting name="U2S2CinemaCinema2" serializeAs="String">
        <value>LMD50</value>
      </setting>
      <setting name="GamesMode" serializeAs="String">
        <value>LMD52</value>
      </setting>
      <setting name="PLIIPLIIxMovie" serializeAs="String">
        <value>LMD80</value>
      </setting>
      <setting name="PLIIPLIIxMusic" serializeAs="String">
        <value>LMD81</value>
      </setting>
      <setting name="Neo6Cinema" serializeAs="String">
        <value>LMD82</value>
      </setting>
      <setting name="Neo6Music" serializeAs="String">
        <value>LMD83</value>
      </setting>
      <setting name="PLIIPLIIxTHXCinema" serializeAs="String">
        <value>LMD84</value>
      </setting>
      <setting name="Neo6THXCinema" serializeAs="String">
        <value>LMD85</value>
      </setting>
      <setting name="PLIIPLIIxGame" serializeAs="String">
        <value>LMD86</value>
      </setting>
      <setting name="NeuralSurr3" serializeAs="String">
        <value>LMD87</value>
      </setting>
      <setting name="NeuralTHX" serializeAs="String">
        <value>LMD88</value>
      </setting>
      <setting name="PLIITHXGames" serializeAs="String">
        <value>LMD89</value>
      </setting>
      <setting name="Neo6THXGames" serializeAs="String">
        <value>LMD8A</value>
      </setting>
      <setting name="ListeningModeWrapAroundUp" serializeAs="String">
        <value>LMDUP</value>
      </setting>
      <setting name="ListeningModeWrapAroundDown" serializeAs="String">
        <value>LMDDOWN</value>
      </setting>
      <setting name="SurroundBack" serializeAs="String">
        <value>SPLSB</value>
      </setting>
      <setting name="FrontHigh" serializeAs="String">
        <value>SPLFH</value>
      </setting>
      <setting name="FrontWide" serializeAs="String">
        <value>SPLFW</value>
      </setting>
      <setting name="MasterVolumeUp" serializeAs="String">
        <value>MVLUP</value>
      </setting>
      <setting name="MasterVolumeDown" serializeAs="String">
        <value>MVLDOWN</value>
      </setting>
      <setting name="MasterVolumeUp1dB" serializeAs="String">
        <value>MVLUP1</value>
      </setting>
      <setting name="MasterVolumeDown1dB" serializeAs="String">
        <value>MVLDOWN1</value>
      </setting>
      <setting name="Video1VCRDVRInput" serializeAs="String">
        <value>SLI00</value>
      </setting>
      <setting name="Video2CblSatInput" serializeAs="String">
        <value>SLI01</value>
      </setting>
      <setting name="Video3GameTVInput" serializeAs="String">
        <value>SLI02</value>
      </setting>
      <setting name="Video4AUX1AUXInput" serializeAs="String">
        <value>SLI03</value>
      </setting>
      <setting name="Video5AUX2Input" serializeAs="String">
        <value>SLI04</value>
      </setting>
      <setting name="Tape1TVTapeInput" serializeAs="String">
        <value>SLI20</value>
      </setting>
      <setting name="CDInput" serializeAs="String">
        <value>SLI23</value>
      </setting>
      <setting name="MusicServerInput" serializeAs="String">
        <value>SLI27</value>
      </setting>
      <setting name="InternetRadioInput" serializeAs="String">
        <value>SLI28</value>
      </setting>
      <setting name="USBRearInput" serializeAs="String">
        <value>SLI2A</value>
      </setting>
      <setting name="UniversalPortInput" serializeAs="String">
        <value>SLI40</value>
      </setting>
      <setting name="MultiChInput" serializeAs="String">
        <value>SLI30</value>
      </setting>
      <setting name="XM1Input" serializeAs="String">
        <value>SLI31</value>
      </setting>
      <setting name="Sirius1Input" serializeAs="String">
        <value>SLI32</value>
      </setting>
      <setting name="MasterVolumeCustom" serializeAs="String">
        <value>MVL</value>
      </setting>
    </eg.Onkyo.API.Properties.Settings>
  </applicationSettings>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
</dependentAssembly>
<dependentAssembly>
<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
</dependentAssembly>
<dependentAssembly>
<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
</dependentAssembly>
 <dependentAssembly>
  <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
 </dependentAssembly>
</assemblyBinding>
</runtime>
<system.codedom>
<compilers>
<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
</compilers>
</system.codedom>
</configuration>
