<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="eg.Onkyo.API.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="eg.Onkyo.API.Commands.Power.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="eg.Onkyo.API.Commands.Muting.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="eg.Onkyo.API.Commands.SpeakerAB.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="eg.Onkyo.API.Commands.SoundModes.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="eg.Onkyo.API.Commands.InputSelector.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <eg.Onkyo.API.Settings>
      <setting name="IPAddress" serializeAs="String">
        <value>192.168.0.4</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>60128</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>10000</value>
      </setting>
    </eg.Onkyo.API.Settings>
    <eg.Onkyo.API.Commands.Power.Settings>
      <setting name="Poweroff" serializeAs="String">
        <value>PWR00</value>
      </setting>
      <setting name="Poweron" serializeAs="String">
        <value>PWR01</value>
      </setting>
    </eg.Onkyo.API.Commands.Power.Settings>
    <eg.Onkyo.API.Commands.Muting.Settings>
      <setting name="Audio muting off" serializeAs="String">
        <value>AMT00</value>
      </setting>
      <setting name="Audio muting on" serializeAs="String">
        <value>AMT01</value>
      </setting>
    </eg.Onkyo.API.Commands.Muting.Settings>
    <eg.Onkyo.API.Commands.SpeakerAB.Settings>
      <setting name="Speaker A Off" serializeAs="String">
        <value>SPA00</value>
      </setting>
      <setting name="Speaker A On" serializeAs="String">
        <value>SPA01</value>
      </setting>
      <setting name="Speaker B Off" serializeAs="String">
        <value>SPB00</value>
      </setting>
      <setting name="Speaker B On" serializeAs="String">
        <value>SPB01</value>
      </setting>
    </eg.Onkyo.API.Commands.SpeakerAB.Settings>
    <eg.Onkyo.API.Commands.SoundModes.Settings>
      <setting name="STEREO" serializeAs="String">
        <value>LMD00</value>
      </setting>
      <setting name="DIRECT" serializeAs="String">
        <value>LMD01</value>
      </setting>
      <setting name="SURROUND" serializeAs="String">
        <value>LMD02</value>
      </setting>
      <setting name="FILM" serializeAs="String">
        <value>LMD03</value>
      </setting>
      <setting name="THX" serializeAs="String">
        <value>LMD04</value>
      </setting>
      <setting name="ACTION" serializeAs="String">
        <value>LMD05</value>
      </setting>
      <setting name="MUSICAL" serializeAs="String">
        <value>LMD06</value>
      </setting>
      <setting name="MONO MOVIE" serializeAs="String">
        <value>LMD07</value>
      </setting>
      <setting name="ORCHESTRA" serializeAs="String">
        <value>LMD08</value>
      </setting>
      <setting name="UNPLUGGED" serializeAs="String">
        <value>LMD09</value>
      </setting>
      <setting name="STUDIO-MIX" serializeAs="String">
        <value>LMD0A</value>
      </setting>
      <setting name="TV LOGIC" serializeAs="String">
        <value>LMD0B</value>
      </setting>
      <setting name="ALL CH STEREO" serializeAs="String">
        <value>LMD0C</value>
      </setting>
      <setting name="THEATER-DIMENSIONAL" serializeAs="String">
        <value>LMD0D</value>
      </setting>
      <setting name="ENHANCED 7/ENHANCE" serializeAs="String">
        <value>LMD0E</value>
      </setting>
      <setting name="MONO" serializeAs="String">
        <value>LMD0F</value>
      </setting>
      <setting name="PURE AUDIO" serializeAs="String">
        <value>LMD11</value>
      </setting>
      <setting name="MULTIPLEX" serializeAs="String">
        <value>LMD12</value>
      </setting>
      <setting name="FULL MONO" serializeAs="String">
        <value>LMD13</value>
      </setting>
      <setting name="DOLBY VIRTUAL" serializeAs="String">
        <value>LMD14</value>
      </setting>
      <setting name="5.1ch Surround" serializeAs="String">
        <value>LMD40</value>
      </setting>
      <setting name="Straight Decode*1" serializeAs="String">
        <value>LMD40</value>
      </setting>
      <setting name="Dolby EX/DTS ES" serializeAs="String">
        <value>LMD41</value>
      </setting>
      <setting name="Dolby EX*2" serializeAs="String">
        <value>LMD41</value>
      </setting>
      <setting name="THX Cinema" serializeAs="String">
        <value>LMD42</value>
      </setting>
      <setting name="THX Surround EX" serializeAs="String">
        <value>LMD43</value>
      </setting>
      <setting name="U2/S2 Cinema/Cinema2" serializeAs="String">
        <value>LMD50</value>
      </setting>
      <setting name="MusicMode" serializeAs="String">
        <value>LMD51</value>
      </setting>
      <setting name="Games Mode" serializeAs="String">
        <value>LMD52</value>
      </setting>
      <setting name="PLII/PLIIx Movie" serializeAs="String">
        <value>LMD80</value>
      </setting>
      <setting name="PLII/PLIIx Music" serializeAs="String">
        <value>LMD81</value>
      </setting>
      <setting name="Neo:6 Cinema" serializeAs="String">
        <value>LMD82</value>
      </setting>
      <setting name="Neo:6 Music" serializeAs="String">
        <value>LMD83</value>
      </setting>
      <setting name="PLII/PLIIx THX Cinema" serializeAs="String">
        <value>LMD84</value>
      </setting>
      <setting name="Neo:6 THX Cinema" serializeAs="String">
        <value>LMD85</value>
      </setting>
      <setting name="PLII/PLIIx Game" serializeAs="String">
        <value>LMD86</value>
      </setting>
      <setting name="Neural Surr*3" serializeAs="String">
        <value>LMD87</value>
      </setting>
      <setting name="Neural THX" serializeAs="String">
        <value>LMD88</value>
      </setting>
      <setting name="PLII THX Games" serializeAs="String">
        <value>LMD89</value>
      </setting>
      <setting name="Neo:6 THX Games" serializeAs="String">
        <value>LMD8A</value>
      </setting>
      <setting name="Listening Mode Wrap-Around Up" serializeAs="String">
        <value>LMDUP</value>
      </setting>
      <setting name="Listening Mode Wrap-Around Down" serializeAs="String">
        <value>LMDDOWN</value>
      </setting>
    </eg.Onkyo.API.Commands.SoundModes.Settings>
    <eg.Onkyo.API.Commands.InputSelector.Settings>
      <setting name="VIDEO1 VCR/DVR" serializeAs="String">
        <value>SLI00</value>
      </setting>
      <setting name="VIDEO2 CBL/SAT" serializeAs="String">
        <value>SLI01</value>
      </setting>
      <setting name="VIDEO3 GAME/TV" serializeAs="String">
        <value>SLI02</value>
      </setting>
      <setting name="VIDEO4 AUX1(AUX)" serializeAs="String">
        <value>SLI03</value>
      </setting>
      <setting name="VIDEO5 AUX2" serializeAs="String">
        <value>SLI04</value>
      </setting>
      <setting name="VIDEO6" serializeAs="String">
        <value>SLI05</value>
      </setting>
      <setting name="VIDEO7" serializeAs="String">
        <value>SLI06</value>
      </setting>
      <setting name="DVD" serializeAs="String">
        <value>SLI10</value>
      </setting>
      <setting name="TAPE(1)" serializeAs="String">
        <value>SLI20</value>
      </setting>
      <setting name="TAPE2" serializeAs="String">
        <value>SLI21</value>
      </setting>
      <setting name="PHONO" serializeAs="String">
        <value>SLI22</value>
      </setting>
      <setting name="FM" serializeAs="String">
        <value>SLI24</value>
      </setting>
      <setting name="AM" serializeAs="String">
        <value>SLI25</value>
      </setting>
      <setting name="TUNER" serializeAs="String">
        <value>SLI26</value>
      </setting>
      <setting name="MUSIC SERVER" serializeAs="String">
        <value>SLI27</value>
      </setting>
      <setting name="INTERNET RADIO" serializeAs="String">
        <value>SLI28</value>
      </setting>
      <setting name="USB" serializeAs="String">
        <value>SLI29</value>
      </setting>
      <setting name="MULTI CH" serializeAs="String">
        <value>SLI30</value>
      </setting>
      <setting name="XM*1" serializeAs="String">
        <value>SLI31</value>
      </setting>
      <setting name="SIRIUS*1" serializeAs="String">
        <value>SLI32</value>
      </setting>
      <setting name="Selector Position Wrap-Around Up" serializeAs="String">
        <value>SLIUP</value>
      </setting>
      <setting name="Selector Position Wrap-Around Down" serializeAs="String">
        <value>SLIDOWN</value>
      </setting>
    </eg.Onkyo.API.Commands.InputSelector.Settings>
  </userSettings>
</configuration>